# Model files (too large for GitHub)
data/models/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.pytest_cache/

# Environment
.env
.venv
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec


# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
.eggs/
.eggs-info/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
